
<div class="container">
    <div class="cardArea">
        <mat-card>
            <form class="loginForm">
                <mat-form-field class="inputField">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter Username">
                </mat-form-field>
                
                <mat-form-field class="inputField">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter Password">
                </mat-form-field>
                
                <div class="submitOptions">
                    <button mat-raised-button class="submitButton" color="primary" type="submit">Login</button>
                    <mat-checkbox>Remember me!</mat-checkbox>
                </div>
            </form>
        </mat-card>
        <div class="otherLinks">
            <a href="#" routerLink="/forgotPassword">Forgot Password?</a>
            <a href="#" routerLink="/register">Create An Account</a>
        </div>
    </div>
</div>