@import '../../variables.scss';

.logo {
    display: block;
    margin: 40px auto 80px auto;
    width: 20%;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButton {
    width: 240px;
    height: 80px;
    margin: 1em;
    font-size: 30px;
    
    background-color: $custom-dark-blue;
    color: $custom-lighter-grey
}