<div class="header">
  <button mat-raised-button (click)="openEnrollClassDialog()">Enroll in a Class</button>
  <button mat-raised-button (click)="openCreateClassDialog()">+ Create New Class</button>
</div>

<div  *ngIf="sharedData.ownedClasses">
  <h2> Owned Classes</h2>
  <app-class-list-display (routeToClassEvent)="routeToClass($event)" [clazzList]="sharedData.ownedClasses"></app-class-list-display>
</div>

<div  *ngIf="sharedData.enrolledClasses">
  <h2> Enrolled Classes</h2>
  <app-class-list-display (routeToClassEvent)="routeToEnrolledClass($event)" [clazzList]="sharedData.enrolledClasses"></app-class-list-display>
</div>
