<div class="header">
    <button mat-raised-button (click)="openEnrollClassDialog()">Enroll in a Class</button>
    <button mat-raised-button (click)="openCreateClassDialog()">+ Create New Class</button>
</div>

<ul *ngIf="sharedData.classes">
    <li *ngFor="let class of sharedData.classes">
        <mat-card (click)="routeToClass(class)">
            <p>{{ class.code }}</p>
            <p>{{ class.className }}</p>
            <p>Status: {{ class.status == true ? 'ONLINE' : 'OFFLINE' }}
        </mat-card>
    </li>
</ul>