.header {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
}

button {
    margin-right: 15px;
    height: 60px;
    width: 200px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    /*padding: 1em 0;*/
    width: 33%;
    display: flex;
    flex-direction: column;
}

.custom-card-left{
  margin: 1rem 1.5rem 1rem 0;
}
.custom-card-center{
  margin: 1rem 0.75rem 1rem 0.75rem;
}
.custom-card-right{
  margin: 1rem 0 1rem 1.5rem;
}


