ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 1em;
    margin-right: 10px;
    margin-bottom: 1em;
    width: 30%;
    display: flex;
    flex-direction: column;
}