<div class="header">
    <button mat-raised-button (click)="openEnrollClassDialog()">Enroll in a Class</button>
    <button mat-raised-button (click)="openCreateClassDialog()">+ Create New Class</button>
</div>

<div  *ngIf="sharedData.ownedClasses">
  <h2> Owned Classes</h2>
  <ul>
    <li *ngFor="let class of sharedData.ownedClasses">
      <mat-card (click)="routeToClass(class)">
        <p>{{ class.className }}</p>
        <p>{{ class.className }}</p>
        <p>Status: {{ class.status == true ? 'ONLINE' : 'OFFLINE' }}
      </mat-card>
    </li>
  </ul>
</div>

<div  *ngIf="sharedData.classes">
  <h2> Enrolled Classes</h2>
  <ul>
    <li *ngFor="let class of sharedData.classes">
      <mat-card (click)="routeToClass(class)">
        <p>{{ class.className }}</p>
        <p>{{ class.className }}</p>
        <p>Status: {{ class.status == true ? 'ONLINE' : 'OFFLINE' }}
      </mat-card>
    </li>
  </ul>
</div>
