.promptletCard {
    width: 300px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.needMargin {
    margin: 5px;
}

.inputField {
    width: 100%;
    margin-bottom: 1em;
}

mat-slider {
    width: 100%;
}

.submitted-field:hover{
  background-color: #3F51B5;
  color: #FFFFFF;
  /*content: 'Submit';*/
}

.button-placeholder{
  size: inherit;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}
.submitted-field :after{
  content: 'Submitted';
}

.submitted-field:hover :after{
  content: 'Submit';
  padding-left: 8px;
  padding-right: 8px;
}
