@import '../../../variables.scss';

.promptletCard {
    width: 300px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.needMargin {
    margin: 5px;
}

.inputField {
    width: 100%;
    margin-bottom: 1em;
}

mat-slider {
    width: 100%;
}

.button-placeholder{
  size: inherit;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}

.fresh-submit{
  background-color: $custom-dark-blue;
  color: $custom-lighter-grey
}

.submitted-field{
  content: 'Submitted';
  color: $custom-dark-blue;
}

.submitted-field :after{
  content: 'Submitted';
}

.submitted-field-disabled :after{
  content: 'Submitted';
}

.submitted-field:hover :after{
  content: 'Submit';
  padding-left: 10px;
  padding-right: 10px;
}

.submitted-field:hover{
  background-color: $custom-dark-blue;
  color: $custom-lighter-grey;
}
