<div *ngIf="sharedData.currentPromptlet">
    <h1>{{ sharedData.currentPromptlet.prompt }}</h1>
    <p>Type: {{ sharedData.currentPromptlet.promptlet_type }}</p>
    <p>Answers: </p>
    <ul *ngIf="sharedData.currentPromptlet.answerPool">
        <li *ngFor="let answer of sharedData.currentPromptlet.answerPool">
            <p>{{ answer }}</p>
        </li>
    </ul>
    <p>Correct Answer(s): </p>
    <ul *ngIf="sharedData.currentPromptlet.correctAnswer">
        <li *ngFor="let correctAnswer of sharedData.currentPromptlet.correctAnswer">
            <p>{{ correctAnswer }}</p>
        </li>
    </ul>

    <p>Template:</p>
    <app-promptlet-display [promptlet]="sharedData.currentPromptlet" [context]="'instructor'"></app-promptlet-display>

    <p>User Responses:</p>
    <ul *ngIf="sharedData.currentPromptlet.userResponses">
      <li *ngFor="let userResponse of sharedData.currentPromptlet.userResponses">
        <p>{{ userResponse.id }}, {{ userResponse.profileName }}, {{ userResponse.profileId }}, [{{ userResponse.response }}]</p>
      </li>
    </ul>
    <br>
    <app-results-display [promptlet]="sharedData.currentPromptlet"></app-results-display>
</div>
