.header {
  margin: 15px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.backButton {
    margin-right: 15px;
    height: 60px;
    width: 150px;
    font-size: 18px;
}

.container {
    margin-left: 10px;
}

.routeButton {
  height: 60px;
  width: 240px;
  font-size: 18px;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
}
