<div class="header">
    <button mat-raised-button class="backButton" (click)="goBack()">Back</button>
    <button mat-raised-button class="routeButton" (click)="openCreateSessionDialog()">+ Create New Session</button>
</div>

<div *ngIf="sharedData.currentClass">
    <h1>{{ sharedData.currentClass.className }}</h1>
    <div style="display: inline">
      <h2 class="same-line">Enroll Code: </h2>
      <p class="same-line class-code"> {{ sharedData.currentClass.id }}</p></div>
    <h2>Sessions:</h2>
    <div class="session-table-padding">
      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="sharedData.currentClassSessions">
        <ng-container matColumnDef="name">
          <mat-header-cell  *matHeaderCellDef> Session Name </mat-header-cell>
          <mat-cell *matCellDef="let session"> <p><span (click)="routeToSession(session.id)">{{ session.sessionName }}</span></p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Session Status </mat-header-cell>
          <mat-cell *matCellDef="let session"> <p><span (click)="routeToSession(session.id)">{{ session.id == sharedData.currentClass.activeSessionId ? 'Live' : 'Offline' }}</span></p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="answer_count">
          <mat-header-cell *matHeaderCellDef> Answer Count </mat-header-cell>
          <mat-cell  *matCellDef="let promptlet"> <p>{{ promptlet.userResponses.length }}</p> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name','status']"></mat-header-row>

        <mat-row *matRowDef="let row; columns: ['name','status']"></mat-row>
      </mat-table>
    </div>
</div>
