.header {
    margin: 15px 40px 20px 15px;
    display: flex;
    justify-content: space-between;
}

.backButton {
    margin-right: 15px;
    height: 60px;
    width: 150px;
    font-size: 18px;
}

.routeButton {
    margin-right: 15px;
    height: 60px;
    width: 230px;
    font-size: 18px;
}