<div class="header">
    <button mat-raised-button (click)="openCreateSessionDialog()">+ Create New Session</button>
</div>

<div *ngIf="sharedData.currentClass">
    <h1>{{ sharedData.currentClass.className }}</h1>
    <h2>Enroll Code:</h2>
    <p>{{ sharedData.currentClass.id }}</p>
    <h2>Sessions:</h2>
    <ul *ngIf="sharedData.currentClassSessions">
        <li *ngFor="let session of sharedData.currentClassSessions">
            <!-- I know this is bad, but wanted to keep the idea and would probably forget it if I didn't implement it. -->
            <p *ngIf="sharedData.currentClass.activeSessionId == session.id"><span (click)="routeToSession(session.id)">{{ session.sessionName }} -- Live</span></p>
            <p *ngIf="sharedData.currentClass.activeSessionId != session.id"><span (click)="routeToSession(session.id)">{{ session.sessionName }}</span></p>
        </li>
    </ul>
</div>
