<div class="header">
    <button mat-raised-button (click)="openCreatePromptletDialog()">+ Create New Promptlet</button>
</div>

<div *ngIf="sharedData.currentSession">
    <h1>{{ sharedData.currentSession.sessionName }}</h1>
    <h2>Promptlets:</h2>
    <ul *ngIf="sharedData.currentSession.promptlets">
        <li *ngFor="let promptlet of sharedData.currentSession.promptlets">
            <p><span (click)="routeToPromptlet(promptlet.id)">{{ promptlet.prompt }}</span></p>
        </li>
    </ul>
</div>
