@import '../../../variables.scss';

.header {
    margin: 15px 40px 20px 15px;
    display: flex;
    justify-content: space-between;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
}

.backButton {
    margin-right: 15px;
    height: 60px;
    width: 150px;
    font-size: 18px;
}

.routeButton {
    margin-right: 15px;
    height: 60px;
    width: 240px;
    font-size: 18px;
}

.lessons-table {
    margin: auto;
    width: 95%;
}

h1 {
    margin: 0 0 30px 35px;
}

.mat-column-prompt {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  margin-right: 2rem;
}
