


$custom-white: #FFFFFF;
$custom-light-blue: #D0E1F9;
$custom-blue: #4D648D;
$custom-dark-blue: #283655;
$custom-darker-blue: #1E1D26;

$custom-lighter-grey: #EEEEEE;
$custom-light-grey: #DDDDDD;
$custom-grey: #CCCCCC;
$custom-dark-grey: #BBBBBB;
$custom-darker-grey: #AAAAAA;
//Need to add schemes for
//  - text
//  - background
//  - button
//  - panel
//  - check boxes
